@import "../utils/vars";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: @font-color;
}

body {
  background-color: @background-color;
  font: @main-font-style;
  color: #757F95;
  line-height: 1.8;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 1140px;
  display: flex;
  flex-direction: column;
}

input::placeholder {
  text-transform: capitalize;
}

button {
  cursor: pointer;
  transition: transform .3s ease-in-out;

  &:hover {
    transform: scale(0.95);
  }

  .fa {
    color: #fff;
  }
}

.svg-inline--fa {
  margin: 0 10px;
  color: @font-color;
}

#close-btn {
  font-size: 12px;
  font-weight: 600;
  padding: 5px 7px;
  border-radius: 5px;
  border: none;
  background: #191F30;
  color: #fff;
  box-shadow: @default-box-shadow;
}

@media screen and (max-width: 1024px) {
  .wrap {
    width: 100%;
    padding: 0 30px;
  }

  .navbar {
    padding: 0 30px;
  }

  .navbar__profile {
    height: 35px;
  }

  .fileplate {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .fileplate {
    grid-template-columns: repeat(3, 1fr);
  }

  .profile {
    flex-wrap: wrap;
    &__edit {
      width: 100% !important;
    }

    &__info {
      width: 100% !important;
      margin: 0 0 30px 0 !important;
    }

    &__profile {
      width: 5%;
      margin-top: 0 !important;
    }
  }
}

@media screen and (max-width: 450px) {
  .wrap {
    padding: 0 15px;
  }

  .container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
  }

  .navbar {
    height: 100%;
    padding: 15px;
    &__logout {
      order: 2;
      margin-right: 0;
    }

    &__logo, &__search {
      width: 150px;
      margin-left: 0;
    }

    &__search {
      order: 3;
    }

    &__profile {
      order: 4;
      width: 12.5%;
      margin-left: 15px;
      margin-top: 0;
      height: 44px;
    }

    &__login {
      margin-right: 0;
    }

    &__registration {
      margin-left: auto;
      margin-top: 15px;
    }
  }

  .disk__btns {
    flex-wrap: wrap;
  }

  .disk__back, .disk__create {
    margin-bottom: 15px;
  }

  .disk__upload-label {
    margin-left: 0;
  }

  .filelist__header {
    grid-template-columns: auto;
  }

  .file {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__name {
      width: 100px;
    }

    &__btn {
      margin-top: 15px;
    }
  }

  .fileplate {
    grid-template-columns: repeat(2, 1fr);
  }

  .authorization {
    width: 95%;
  }

}